<div class="container-fluid footer-contain">
    <div class="footer-main">
        <a href="">客户端</a>&nbsp;&nbsp;
        <a href=""> 媒体报道</a>&nbsp;&nbsp;
        <a href=""> 合作推广</a>&nbsp;&nbsp;
        <a href=""> 关于我们</a>&nbsp;&nbsp;
        <a href=""> 加入我们</a>&nbsp;&nbsp;
        <a href=""> V电影名人堂</a>&nbsp;&nbsp;
        <a href=""> 更多友情链接</a>&nbsp;&nbsp;
        <div class="footer-tip">
            Copyright © 2011-2016 &nbsp;&nbsp;<a href="">V电影</a> &nbsp;&nbsp;<a href=""> 京ICP备14003808号-5</a>&nbsp;&nbsp;京公网安备11010802011460号
            <img src="/static/myApp/img/creativecommons.png" alt="">
        </div>
    </div>
</div>